@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #b49fb0d2, #74557465);
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: antiquewhite;
    width: 800px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.637);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #eea13dc9;
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
}

h1 img {
    width: 50%;
    max-width: 350px;
    display: block;
    margin: -90px auto 0;
}

img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    h1 img {
        margin-top: -135px;
    }
}

h2 {
    color: #886d8fab;
    font-family: monospace;
    font-size: 40px;
    text-align: left;
    margin-bottom: 15px;
}

h3 {
    color: #311d25b7;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    margin-bottom: 50px;
}

h4 {
    color: #745e40b7;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
    margin-bottom: 15px;
    margin-right: 30px;
}

p {
    text-align: justify;
    color: #311d25ea;
    font-size: 20px;
    font-family: monospace;
    line-height: 1.6;
    margin-bottom: 20px;
}